.material_library__{
    &wrap{
        .arco-input-search .arco-input-search-btn {
            height: 100%;
        }
        .arco-card-body{
            padding: 0 0 0 5px;
        }
        .arco-input-wrapper.arco-input-focus{
            border-color: transparent;
        }
        .arco-input-wrapper{
            .arco-input{
                padding-top: 0;
            }
        }
        .arco-card-meta-title{
            font-weight: 600;
            color: var(--base-font-color);
        }
    }
    &category{
        margin-top: var(--base-margin-20);
        margin-bottom: var(--base-margin-20);
    }
    &card{
        &item{
            margin-bottom: var(--base-margin-10);
            &:not(:nth-child(4n)) {
                margin-right: 15px;
            }
        }
        &content{
            cursor: pointer;
            border-radius: var(--border-radius-8);
        }
        &-active{
            background-color: var(--base-color);
            border-color: var(--base-color);
            .arco-input{
                color: #fff;
            }
        }
        &-loading{
            .material_library__cardcontent{
                cursor: progress;
            }
        }
        &cover{
            overflow: hidden;
            position: relative;
        }
    }
    &spin{
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
    &addmaterial{
        width: 80px;
        height: 80px;
        background-color: var(--base-gray-dark1);
        border-radius: var(--border-radius-8);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: color .3s ease, background-color .3s ease;
        cursor: pointer;
        &:hover{
            color: var(--base-color);
            background-color: var(--base-gray-color);
        }
    }
}