.c__font-black{    
    font-family: Microsoft YaHei;
    font-weight: 900;
    color: var(--base-font-color);
}
.c__font-bold{
    font-family: Microsoft YaHei;
    font-weight: 600;
    color: var(--base-font-bold-color);
}
.c__font-medium{
    font-family: Microsoft YaHei;
    font-weight: 600;
    color: var(--base-font-color);
}