.rendermain__{
    &wrap{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &radio{
        font-size: 16px;
        text-align: center;
        width: 50%;
    }
    &group{
        width: 100%;
    }
    &tag{
        width: 100%;
        margin-bottom: var(--base-margin-10);
    }
}